@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/regular";
@import "fontawesome/solid";
@import "bootstrap/bootstrap";

.current {
  color: green;
}

.mojs-bg {
    z-index: -100;
}

.fab {
	opacity: 0.25;
	color: black;
}
.fab:hover {
	opacity: 1;
}
a, a:active, a:focus {
	outline: none;
}